body {
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 15px;
   color: #484848;

}

.top-contakt {
   display: flex;
   justify-content: space-between;
   /* text-align: center; */
   background-color: #ffcb0f;
   font-size: 15px;
   line-height: 24px;
   width: 100%;
   min-height: 42px;
   align-items: center;
   padding: 0 10%;

}


.top-contakt a {
   text-decoration: none;
   color: #222222;
   
}


.top-contakt_left i {
   margin: 0 10px;


}

.top-contakt_left a {
   margin: 0 0 0 30px;
   border-radius: 10px;

}

.top-contakt_right a {
   margin: 5px 5px 0 5px;
   font-size: 20px;

}



/*                                           navbar */
.navbar {
   min-height: 80px;
   background-color: #222533;
   line-height: 24px;
}

.navbar-brand {
   /* display: block; */
   color: #ffcb0f;
   padding-left: 30px;
}

.navbar-brand p {
   color: #ffcb0f;
}

.collapse {
   display: flex;
   justify-content: center;
}



.nav-item {
   margin-left: 30px;
}
/*                                                         top nav                               */

.bg {
   background: url(../img/layers.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh;
   

} 



.baner-text {
   font-size: 40px;
   line-height: 72px;
   margin: 0 auto;
   color: #ffffff;
   margin-top: 114px;
   text-align: center;
}

.baner-xl {
   font-size: 60px;
   line-height: 72px;
   font-weight: 700;
   text-transform: uppercase;
   color: #ffffff;
   margin: 0 auto;
   margin-top: 30px;
   text-align: center;
}

.banerpp {
   font-size: 23px;
   line-height: 1.2;
   color: #ffffff;
   margin-top: 30px;
   text-align: center;
}

.btn-bg {
   margin: 0 auto;
}


.btn-sv {
   width: 157px;
   height: 45px;
   background-color: #ffcb0f;
   border-radius: 10.0px;
   border: none;
   font-size: 16px;
   line-height: 13px;
   font-weight: 700;
   text-transform: uppercase;
   margin: 70px 35px;

}

.btn-sv a {
   text-decoration: none;
   color: #ffffff;
}
/*                                                  compani            */

.compani {
   margin: 100px 0 20px 0;
   
}

.compani h2 {
   font-size: 40.8px;
   line-height: 1.2;
   font-weight: 700;
   text-transform: uppercase;
   color: #ffcb0f;
}

.compani h4 {
   font-size: 30px;
   line-height: 1.2;
   font-weight: 700;
   color: #484848;
}

.compani p {
   margin: 30px auto;
}



.btn-company {
   font-size: 16px;
   line-height: 13px;
   letter-spacing: 0.05em;
   width: 157px;
   height: 45px;
   background-color: #ffcb0f;
   border-radius: 10.0px;
   border: none
}

.btn-company a {
   text-decoration: none;
   font-size: 16px;
   line-height: 13px;
   letter-spacing: 0.05em;
   color: #ffffff;
}


.compani-img {
   background: url(../img/layer_zfone.png) 0 0 / 100% no-repeat;
   max-width: 100%;

}

.compani-imgstroy {
   max-width: 258px;
   max-height: 472px;
   margin-left: 30%;

}

/*   блок с круглыми картинкаи   */

.why_are {

   text-align: center;
   background: #F2F7FA;
}

.why_are h2 {
   text-align: center;
   margin: 0 auto;
   font-size: 30px;
   line-height: 1.2;
   font-weight: 700;
   text-transform: uppercase;
   color: #484848;
   margin-top: 75px;
}

.why_are p {
   text-align: center;
   margin: 30px 0 0 0;
   padding: 0 3%;
}

.roundbl {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 50px auto 0;


}



.roundbl_iten p {
   padding: 0 0 18px 0;
   margin: 0;

}

.roundbl_iten {
   width: 150px;
   margin: 0 45px;
   text-align: center;

}

.roundbl h5 {
   margin-top: 15px;
   font-size: 15px;
   font-weight: 700;


}

.roundbl p {
   margin: 18px 0px;

}

/*            Блок сервиса       */



.ousertt h2 {
   font-size: 30px;
   font-weight: 700;
   text-transform: uppercase;
   color: #484848;
   text-align: center;
   margin: 85px auto 50px;
}

.ouser {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   text-align: center;
   margin: 0 auto;

}

.ouser_item {
   margin: 0 25px 30px 25px;
   width: 260px;
   min-height: 390px;
}

.ouser_item img {
   max-width: 100%;

}

.ouser_item h4 {
   font-size: 20px;
   font-weight: 700;
   margin: 30px auto 20px;
   min-height: 48px;
}

.ouser_item p {
   min-height: 150px;
}


.btn-ouser {
   font-size: 16px;
   line-height: 13px;
   letter-spacing: 0.05em;
   width: 157px;
   height: 45px;
   background-color: #ffcb0f;
   border-radius: 10.0px;
   margin-bottom: 20px;
   border: none

}

.btn-ouser a {
   text-decoration: none;
   font-size: 16px;
   line-height: 13px;
   letter-spacing: 0.05em;
   color: #ffffff;
}

/*       текст и форам отправки    */

.cont_otprav {
   background: #FFDB5C;
   min-width: 175px;
   padding: 35px 0;
}

.forma_ot {
   max-width: 1140px;
   margin: 0 auto;
   align-items: center;
}


.text_shy {
   display: block;
   text-align: center;
   
}

.if {
   font-size: 30px;
   line-height: 1.2;
   font-weight: 700;
   text-transform: uppercase;
   color: #2f3240;
}

.touch {
   font-size: 30px;
   line-height: 1.2;
   font-weight: 400;
   text-transform: uppercase;
   color: #2f3240;
}

.form_bl {
   text-align: center;
}

.form_bl input {
   margin: 5px;
   padding: 5px 0 5px 15px;
   border-radius: 8px;
   border: none;
}

textarea {
   margin: 5px;
   padding: 5px 0 5px 15px;
   border-radius: 8px;
   border: none;
}

.btn-for {
   font-size: 16px;
   line-height: 13px;
   letter-spacing: 0.05em;
   width: 145px;
   height: 33px;
   background-color: #71737D;
   border-radius: 8.0px;
   border: none;
   position: relative;
   margin: 15px 0 0 5px;
   top: -15px;
   left: 0;

}

.btn-for a {
   text-decoration: none;
   color: #fff;
}

/*                         постройка домов                         */

.bg_building {
   background: url(../img/house-building/home1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh;
}

.bg_building h2 {
   padding: 10% 15%;
   font-size: 40px;
   color: #fff;
}

.buildingaaa {
   margin: 30px auto;
   font-weight: 700;
}

.building_image {
   display: flex;
   flex-wrap: wrap;

}

.building_image img {
    margin: 25px auto;

    transition: 0.9s;
}

.building_image img:hover {
  transform: scale(1.3);
  transition: 0.9s;
}

/*                       футер              */

.footer_container {
   background: url(../img/image_html/bg-footer.jpg) 0 0 / cover no-repeat;
   min-height: 500px;
}

.footer_row {
   padding-top: 125px;
   max-width: 1140px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
}


.footer_one h5 {
   font-size: 25px;
   line-height: 1.2;
     color: #ffffff;
   padding: 0px 0 40px 0;
}

.footer_one h4 {
   padding-bottom: 35px;
}

.footer_one h4 a {
   color: #ffcb0f;
}

.footer_one p {
   padding: 0 0 0 0px;
   color: #ffffff;
}

.footer_mesager {
   padding: 0 15px;
}

.footer_mesager a  {
   padding: 10px 14px;
   color: #ffcb0f;
   font-size: 30px;
}


/*       футер часть два             */



.footer_too h5 {
   font-size: 25px;
   line-height: 1.2;
   color: #ffffff;
   padding: 0px 0 40px 0;
}

.footer_too p {
   line-height: 35px;
}

.footer_too p a {
   display: block;
   text-decoration: none;
   color: #fff;
}

.footer_too p a:hover {
   color: #ffcb0f;
}

/*              футер часть 3           */



.footer_three h5 {
   font-size: 25px;
   line-height: 1.2;
   color: #ffffff;
   padding: 0px 0 40px 0;
}

.footer_three p {
   line-height: 35px;
}

.footer_three p a {
   display: block;
   text-decoration: none;
   color: #fff;
}

.footer_three p a:hover {
   color: #ffcb0f;
}

/*            футер часть 4             */



.footer_four h5 {
   font-size: 25px;
   line-height: 1.2;
   color: #ffffff;
   padding: 0px 0 40px 0;
}

.footer_contact a {
   display: block;
   text-decoration: none;
   padding: 7px 7px 7px 0;
   color: #fff;
}

.footer_contact a i {
   padding: 0 10px 0 0;
}

.footer_contact a:hover {
   color: #ffcb0f;
}




/*                                                                                                 */

@media (max-width: 1400px) {

   .baner-text {
      margin-top: 150px;
      line-height: 50px;
   }
   
   .baner-xl {
      font-size: 60px;
      line-height: 50px;
      padding: 30px;
   }

   .banerpp {
      line-height: 35px;
   }


   .compani {
      margin-top: 25px;
   }

   /*                  постройка домов                       */
   .bg_building {
      background: url(../img/house-building/home1200.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
   }


}

/*                                                                                                  */

@media (max-width: 1140px) {

   .top-contakt {
      padding: 0 8%;
   }
   .baner-text {

      line-height:30px;
      font-size: 30px;
   }
   
   .baner-xl {
      font-size: 50px;
      line-height: 50px;
      margin-top: 20px;
      font-size: 45px;
   }

   .banerpp {
      font-size: 20px;
      line-height: 35px;
      color: #ffffff;
      margin: 25px 0;
      text-align: center;
   }

   .btn-sv {
      margin-top: 35px;
   }

   .compani {
      margin-top: 25px;
   }

   .ouser_item {
      margin: 0 20px 30px 20px;
   }

   /*                  постройка домов                       */

   .bg_building {
      background: url(../img/house-building/home1200.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
   }

}

/*                                                                                   */
@media (max-width: 990px) {

   .top-contakt {
      padding: 0 8%;
   }
   .clock {
      display: none;
   }




   .baner-text {
      margin-top: 80px;
      line-height: 50px;
      font-size: 30px;

   }
   
   .baner-xl {
      line-height: 1.3;

      font-size: 35px;
      padding: 20px 0 20px 0;
   }

   .banerpp {
      font-size: 20px;
      line-height: 1.5;
      color: #ffffff;
      margin-top: 15px;
      text-align: center;
      
   }

   .btn-sv {
      margin-top: 120px;
   }

   .compani {
      margin-top: 25px;
   }

   .compani h2 {
      text-align: center;
   }

   .btn-company {
      margin: 0px 0 30px 0;
   }

   .ouser {
      text-align: center;
   }

   .footer_one, .footer_too, .footer_three, .footer_four {
      margin: 0px 0 60px 0;
   }

   
   /*                 постройка домов                    */

   .bg_building {
      background: url(../img/house-building/home001.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
   }


}

/*                                                                                                   */
@media (max-width: 690px) {

   .top-contakt {
      padding: 5px 30px;
   }

   .top-contakt a {
      display: block;
   }

   .top-contakt_right a {
      display: block;

   }

   a.clock {
      display: none;
   }
 
   .navbar {
      min-height: 60px;
   }

   .navbar-brand p {
      margin: 0;
  }

  .top-contakt_left a {
   margin: 0;
}

  .top-contakt_right {
   display: none;
}

   .baner-text {
      line-height: 18px;
      font-size: 20px;
      margin: 80px auto 10px;

   }
   
   .baner-xl {
      line-height: 40px;
      font-size: 20px;

   }

   .banerpp {
      font-size: 16px;
      line-height: 22px;

   }

   .btn-sv {
      width: 120px;
      height: 25px;
      font-size: 16px;
      line-height: 13px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 50px 20px;
      font-size: 13px;
   }

   .compani {
      margin-top: 25px;
   }

   .compani h2 {
      font-size: 30px;
      line-height: 1.2;
      text-align: center;
   }

   .compani h4 {
      font-size: 24px;
   }

   .compani-imgstroy {
      margin-left: 25%;
   }

   /*                строительство домов                  */

   .bg_building {
      background: url(../img/house-building/home001.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
   }


}

/*                                                                                                      */
@media (max-width : 390px) {

   .top-contakt {
      padding: 0 5%;
   }

   .top-contakt {
      padding: 5px 20px;
   }

   .top-contakt a {
      display: block;
      
   }

   a.clock {
      display: none;
   }

   
   .top-contakt_left a {
      margin: 0;
   }

   .top-contakt_right {
      display: none;
   }

   .navbar-brand p {
      margin: 0;
  }

   .navbar {
      min-height: 60px;
   }

   .navbar-brand p {
      padding: 0;
   }

   .baner-text {

      line-height: 14px;
      font-size: 16px;

   }
   
   .baner-xl {
      line-height: 25px;
      margin-top: 8px;
      font-size: 20px;

   }

   .banerpp {
      line-height: 18px;
      margin-top: 8px;
      font-size: 14px;

   }

   .btn-sv {
      width: 120px;
      height: 25px;
      font-size: 16px;
      line-height: 13px;
      font-weight: 700;
      margin: 20px 10px;
      font-size: 13px;

   }

   .compani {
      margin-top: 25px;
   }

   .compani h2 {
      font-size: 30px;
      line-height: 1.2;
      text-align: center;
   }

   .compani h4 {
      font-size: 24px;
      text-align: center;
   }

   .compani-imgstroy {
      margin-left: 10%;
   }

   .roundbl {
      display: flex;
      flex-wrap: wrap;
   }

   /*                 построим дом                  */

   .bg_building {
      background: url(../img/house-building/home001.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
   }

   .bg_building h2 {
      font-size: 30px;
      text-align: center;
      line-height: 40px;
   }

   .buildingaaa {
      font-size: 25px;
   }





}