body {
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 15px;
   color: #484848;
}
img {
   display: block;
   max-width: 100%;
   margin: 0 auto;
}
a {
   transition: all 0.5s;
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -ms-transition: all 0.5s;
   -o-transition: all 0.5s;
}
.top-contakt {
   display: flex;
   justify-content: space-between;
   background-color: #ffcb0f;
   font-size: 15px;
   line-height: 24px;
   width: 100%;
   min-height: 42px;
   align-items: center;
   padding: 0 10%;
}
.top-contakt a {
   text-decoration: none;
   color: #222222;
   transition: all 0.5s;
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -ms-transition: all 0.5s;
   -o-transition: all 0.5s;
}
.top-contakt a:hover {
   color: #fcf595;
} 
.top-contakt__left i {
   margin: 0 10px;
}
.top-contakt__left a {
   margin: 0 0 0 30px;
   border-radius: 10px;
}
.top-contakt__right a {
   margin: 5px 12px 0;
   font-size: 20px;
}

/* ==================== navbar ===================== */

.navbar {
   min-height: 80px;
   background-color: #222533;
   line-height: 24px;
   padding: 20px 1rem;
}
.navbar-brand {
   color: #ffcb0f;
   padding-left: 30px;
}
.navbar-brand p {
   color: #ffcb0f;
   margin: 0;
}
.collapse {
   display: flex;
   justify-content: center;
}
.nav-item {
   margin-left: 30px;
}
/* ============================ top nav ============================ */

.bg {
   background: url(../img/layers.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 680px;
} 
.row-glob {
   padding: 0 15px;
}
.baner-text {
   font-size: 40px;
   line-height: 140%;
   margin: 0 auto;
   color: #ffffff;
   margin-top: 114px;
   text-align: center;
}
.baner-xl {
   font-size: 60px;
   line-height: 135%;
   font-weight: 700;
   text-transform: uppercase;
   color: #ffffff;
   margin: 0 auto;
   margin-top: 30px;
   text-align: center;
}
.banerpp {
   font-size: 23px;
   line-height: 120%;
   color: #ffffff;
   margin-top: 30px;
   text-align: center;
}
.btn-bg {
   display: flex;
   margin: 0 auto;
}
.btn-sv {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 157px;
   height: 45px;
   color: #ffffff;
   background-color: #ffcb0f;
   border-radius: 10.0px;
   border: none;
   font-size: 16px;
   line-height: 100%;
   font-weight: 700;
   text-transform: uppercase;
   margin: 70px 35px;
}

.btn-sv {
   text-decoration: none;
   color: #ffffff;
}
/* ====== compani ====== */

.compani {
   margin: 100px 0 0;
}
.compani h2 {
   font-size: 40px;
   line-height: 120%;
   font-weight: 700;
   text-transform: uppercase;
   color: #ffcb0f;
}
.compani h4 {
   font-size: 30px;
   line-height: 120%;
   font-weight: 700;
   color: #484848;
}
.compani p {
   margin: 30px auto;
}
.btn-company {
   font-size: 16px;
   line-height: 13px;
   letter-spacing: 0.05em;
   width: 157px;
   height: 45px;
   background-color: #ffcb0f;
   border-radius: 10.0px;
   border: none
}

.btn-company a {
   text-decoration: none;
   font-size: 16px;
   line-height: 13px;
   letter-spacing: 0.05em;
   color: #ffffff;
}
.compani-img {
   background: url(../img/layer_zfone.png) 0 0 / 100% no-repeat;
   max-width: 100%;
}

.compani-imgstroy {
   max-width: 258px;
   max-height: 472px;
   margin-left: 30%;
}
/* ======= блок с круглыми картинкаи ====== */
.why__are {
   text-align: center;
   background: #F2F7FA;
   padding: 0 30px 10px;
}
.why__are h2 {
   text-align: center;
   margin: 0 auto;
   font-size: 30px;
   line-height: 1.2;
   font-weight: 700;
   text-transform: uppercase;
   color: #484848;
   margin-top: 50px;
}
.why__are p {
   text-align: center;
   margin: 30px 0 0 0;
   padding: 0 3%;
}
.roundbl {
   display: flex;
   flex-wrap: wrap;
   gap: 50px;
   justify-content: center;
   margin: 50px auto 0;
}
.roundbl__iten {
   width: 210px;
}
.roundbl__iten p {
   padding: 0 0 18px 0;
   margin: 0;
}
.roundbl h5 {
   margin-top: 20px;
   font-size: 15px;
   font-weight: 700;
}
.roundbl p {
   margin: 18px 0px;
}
/* ===== Блок сервиса === */
.ousertt h2 {
   font-size: 30px;
   font-weight: 700;
   text-transform: uppercase;
   color: #484848;
   text-align: center;
   margin: 85px auto 50px;
}
.ouser {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   width: 100%;
   gap: 50px;
}
.ouser__item {
   margin: 0 25px 30px;
   width: 260px;
   min-height: 390px;
}
.ouser__item h4 {
   font-size: 20px;
   font-weight: 700;
   margin: 30px auto 20px;
   min-height: 48px;
}
.ouser__item p {
   min-height: 150px;
}
.btn-ouser {
   font-size: 16px;
   line-height: 13px;
   letter-spacing: 0.05em;
   width: 157px;
   height: 45px;
   background-color: #ffcb0f;
   border-radius: 10.0px;
   margin-bottom: 20px;
   border: none
}

.btn-ouser a {
   text-decoration: none;
   font-size: 16px;
   line-height: 13px;
   letter-spacing: 0.05em;
   color: #ffffff;
}
/* - текст и форам отправки - */
.cont__otprav {
   background: #FFDB5C;
   min-width: 175px;
   padding: 35px 0;
}
.forma__ot {
   max-width: 1140px;
   margin: 0 auto;
   align-items: center;
}
.text__shy {
   display: block;
   text-align: center;
}
.if {
   font-size: 30px;
   line-height: 1.2;
   font-weight: 700;
   text-transform: uppercase;
   color: #2f3240;
}
.touch {
   font-size: 30px;
   line-height: 1.2;
   font-weight: 400;
   text-transform: uppercase;
   color: #2f3240;
}
.form__bl {
   text-align: center;
}
.form {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   gap: 10px;
}
.form__item {
   width: 49%;
   height: 40px;
   padding: 5px 15px;
   border-radius: 8px;
   border: none;
}
.btn-for {
   font-size: 16px;
   letter-spacing: 0.05em;
   width: 49%;
   height: 40px;
   color: #fff;
   background-color: #71737D;
   border-radius: 8.0px;
   border: none;
}
/* ===== постройка домов ====== */
.bg__building {
   background: url(../img/house-building/fon_max.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh;
   display: flex;
   justify-content: center;
}
.bg__building h2 {
   padding: 100px 0 ;
   font-size: 3vw;
   font-weight: 600;
   color: #fff;
   margin: 0 auto;
}
.building__bloc {
   margin: 40px 0;
}
.building__bloc h2 {
   font-size: 35px;
   text-align: center;
   padding-bottom: 25px;
}
.building__card-body {
   padding: 20px 0 !important;
}
.building__image {
   padding: 0 15px 30px;
}
.building__image h2 {
   margin: 0px 10px;
}
.building__image p {
   margin: 30px 10px;
}
.building__image a {
   padding: 10px 20px;
}
.buildingaaa {
   margin: 30px auto;
   font-weight: 700;
   border-bottom: 2px solid;
}
.building__image h2 {
   margin: 50px 0;
}
/* ======= ремонт ===== */
.remont__title-top {
   margin: 40px 0;
   text-align: center;
}
.remont__block {
   display: flex;
   gap: 30px;
   justify-content: center;
   flex-wrap: wrap;
}
.remont__block-item {
   flex: 1 1 48%;
}
.remont__block-image img {
   object-fit: cover;
   width: 100%;
   height: 100%;
}
.remont__block-text {
   padding: 20px;
}
.remont__card-title {
   text-align: center;
   margin-bottom: 30px;
}
.remont__ul {
   padding-left: 16px;
}
.remont__ul-li {
   color: #ffcb0f;
   list-style: square;
   font-size: 20px;
   padding-left: 15px;
}
.remont__ul-li span {
   color: #2f3240;
   font-size: 15px;
}
/* ------- */
.remont__tooq-row {
   margin: 50px 0 70px;
}
.remont__tooq-row h2 {
   margin: 30px auto;
}
/* =========== сантех ======= */
.santeh__cont h2 {
   text-align: center;
   margin: 40px 0 40px;
}
.santeh__cart {
   display: flex;
   gap: 50px;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 75px;
}
.santeh__cart-item {
   /* margin: 20px 30px; */
   max-width: 200px;
}
.santeh__cart-item img {
   margin: 0 auto;
   background: #ffcb0f;
   padding: 50px;
}
.santeh__cart-item h5 {
   padding: 15px 0 10px;
   text-align: center;
}
.santeh__cart-item p {
   text-align: center;
}
.santeh__baton {
   text-align: center;
   margin: 40px 0;
}
.santeh__baton h4 {
   font-size: 30px;
   line-height: 120%;
   margin: 50px 0 20px;
}

/*  ============================ электрика =============================== */
.electro  {
   text-align: center;
}
.electro h2 {
   text-align: center;
   margin: 50px 0;
}
.electro__block-item {
   display: flex;
   margin: 30px;
   padding: 20px;
   background-color: #ffcb0f;
}
.electro__block-image {
   width: 50%;
   align-items: center;
   margin: auto;
   height: 300px;
}

.electro__block-image img {
   display: block;
   width: 100%;
   margin: 0 auto;
   object-fit: cover;
   height: 100%;
}
.electro__block-text {
   padding: 0 40px;
   margin: 0;
   width: 50%;
   margin: auto;
}
.electro__block-text h2 {
   margin: 15px auto;
}

/*  ========================= мебель ====================== */
.furniture__top-block {
   text-align: center;
}
.furniture__top-block h2 {
   margin: 50px auto;
}
.furniture__top-block h4 {
   margin: 50px auto;
}
.furniture__top-block img {
   max-width: 100%;
}
.furniture__list {
   text-align: left;
   margin: 50px;
}
.furniture__list ul li {
   color: #ffcb0f;
   list-style: square;
   font-size: 20px;
}
.furniture__list ul li span {
   color: #2f3240;
   list-style: square;
   font-size: 15px;
}

/* ====================== футер ================= */
/* ====================== футер ================= */
/* ====================== футер ================= */
.footer__container {
   background: url(../img/image_html/bg-footer.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh;
   min-height: 500px;
}
.footer__row {
   padding-top: 125px;
   max-width: 1140px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
}
.footer__one h5 {
   font-size: 25px;
   line-height: 1.2;
   color: #ffffff;
   padding: 0px 0 40px 0;
}
.footer__one h4 {
   padding-bottom: 35px;
}
.footer__one h4 a {
   color: #ffcb0f;
}
.footer__one p {
   padding: 0 0 0 0px;
   color: #ffffff;
}
.footer__mesager a  {
   padding: 10px 30px 10px 0;
   color: #ffcb0f;
   font-size: 30px;
}
.footer__mesager a .fab {
   transition: all 0.5s;
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -ms-transition: all 0.5s;
   -o-transition: all 0.5s;
}
.footer__mesager a:hover .fab {
   margin-top: -2px;
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
}

/* ======================= футер часть два ========================= */
.footer__too h5 {
   font-size: 25px;
   line-height: 1.2;
   color: #ffffff;
   padding: 0px 0 40px 0;
}
.footer__too p {
   line-height: 35px;
}
.footer__too p a {
   display: block;
   text-decoration: none;
   color: #fff;
}
.footer__too p a:hover {
   color: #ffcb0f;
}
/* ======================== футер часть 3 ======================== */
.footer__three h5 {
   font-size: 25px;
   line-height: 1.2;
   color: #ffffff;
   padding: 0px 0 40px 0;
}
.footer__three p {
   line-height: 35px;
}
.footer__three p a {
   display: block;
   text-decoration: none;
   color: #fff;
}
.footer__three p a i {
   padding: 0 10px 0 0;
}
.footer__three p.site {
   display: flex;
}
.footer__three p.site a {
padding-right: 20px;
}
.site a i {
   font-size: 17px;
   color: #ffcb0f;
   transition: all 0.5s;
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -ms-transition: all 0.5s;
   -o-transition: all 0.5s;
}
.site a i:hover {
   font-size: 17px;
   color: #6fff80;
   transform: scale(1.5);
}
.footer__three p a:hover {
   color: #ffcb0f;
}

/* ======================= футер часть 4 ========================= */
.footer__four h5 {
   font-size: 25px;
   line-height: 1.2;
   color: #ffffff;
   padding: 0px 0 40px 0;
}
.footer__contact a {
   display: block;
   text-decoration: none;
   padding: 7px 7px 7px 0;
   color: #fff;
}
.footer__contact a i {
   padding: 0 10px 0 0;
}
.footer__contact a:hover {
   color: #ffcb0f;
}

/* ===================== @media 1400 ===================== */
/* ===================== @media 1400 ===================== */
/* ===================== @media 1400 ===================== */
@media (max-width: 1400px) {

   .baner-text {
      margin-top: 100px;
   }
   .baner-xl {
      font-size: 60px;
      padding: 30px;
   }
   .banerpp {
      line-height: 35px;
   }
   .compani {
      margin-top: 25px;
   }
   /*  постройка домов     */
   .bg__building {
      background: url(../img/house-building/fon1300.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
   }
}

/* ===================== @media 1200 ===================== */
@media (max-width: 1200px) {
   .container-compani {
      max-width: 100%;
   }
   .container-why__are {
      max-width: 100%;
   }
   .why__are {
      padding: 0 15px 30px;
   }
   .ouser {
      justify-content: space-between;
      width: 100%;
      gap: 15px;
   }
   .ousertt h2 {
      margin: 50px auto 50px;
   }
   .bg__building h2 {
      padding: 100px 0px 0;
      font-size: 4vw;
   }
}
/* ===================== @media 1200 /===================== */

/* ===================== @media 1140 ===================== */
/* ===================== @media 1140 ===================== */
/* ===================== @media 1140 ===================== */
@media (max-width: 1140px) {

   .top-contakt {
      padding: 0 8%;
   }
   .baner-text {
      font-size: 30px;
      margin-top: 75px;
   }
   .baner-xl {
      font-size: 50px;
      margin-top: 20px;
      font-size: 45px;
   }
   .banerpp {
      font-size: 20px;
      line-height: 35px;
      color: #ffffff;
      margin: 25px 0;
      text-align: center;
   }
   .btn-sv {
      margin-top: 35px;
   }
   .compani {
      margin-top: 25px;
   }
   .ouser__item {
      margin: 0 20px 30px 20px;
   }
   .compani h2 {
      font-size: 3.7vw;

   }
     /* ================= постройка домов ======================= */
   .bg__building {
      /* background: url(../img/house-building/home1200.jpg); */
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
   }
}
/* ===================== @media 1040 ===================== */
@media (max-width: 1040px) {
   .clock {
      display: none;
   }
}
/* ===================== @media 1040 ===================== */



/* ===================== @media 990 ===================== */
/* ===================== @media 990 ===================== */
/* ===================== @media 990 ===================== */
@media (max-width: 990px) {

   .top-contakt {
      padding: 0 8%;
   }
   .navbar-nav {
      padding: 30px 0 50px;
   }
   .nav-item {
      margin: 0;
   }
   .nav-link {
      padding: 15px 0;
      font-size: 18px;
   }
   .navbar-toggler {
      padding: .25rem 0;
   }
   .baner-text {
      margin-top: 80px;
      font-size: 30px;
   } 
   .baner-xl {
      font-size: 35px;
      padding: 20px 0 20px 0;
   }
   .banerpp {
      font-size: 20px;
      line-height: 1.5;
      color: #ffffff;
      margin-top: 15px;
      text-align: center;      
   }
   .compani {
      margin-top: 25px;
   }
   .btn-company {
      margin: 0px 0 30px 0;
   }
   .container-why__are {
      max-width: 100%;
   }
   .form__item {
      width: 100%;
   }
   .footer__one, .footer__too, .footer__three, .footer__four {
      margin: 0px 0 60px 0;
   }
   .building__image p {
      margin: 30px 0;
   }
   .bg__building {
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
   }
   .electro {
      text-align: center;
      margin: 0 auto;
   }
   .electro__block-item {
      display: block;
      margin: 20px 0;
   }
   .electro__block-text {
      margin: 0 auto;
      padding: 0;
      width: 100%;
   }
   .electro__block-text p {
      padding: 15px 0;
      margin: 0;
   }
   .electro__block-image {
      text-align: center;
      margin: 0px auto 10px;
      padding: 0;
      width: 100%;
   }
   .electro__block-image img {
      max-width: 100%;
      margin: 0;
   }
   .compani h2 {
      font-size: 3.6vw;
  }
  .compani h4 {
   font-size: 3vw;
   }
   .roundbl__iten {
      flex-grow: 1;
   }
}
/* ========== @media 990px /========== */

/* =========== @media 768px =========== */
@media (max-width: 768px) {
   .top-contakt {
      padding: 0 45px;
   }
   .top-contakt__left a {
      margin: 0 30px 0 0;
   }
   .top-contakt__left i {
      margin: 0 10px 0 0;
  }
   .top-contakt__right {
      display: none;
   }
   .navbar-toggler {
     border: none;
   }
   /* .navbar-toggler {
      outline: none;
   } */
   .navbar-toggler:focus {
      outline: none;
   }
   .containerbg{
      max-width: 100%;
  }
   .baner-text {
      font-size: 4vw;
   }
   .compani h2 {
      font-size: 7vw;
      margin-bottom: 15px;
  }
  .compani h4 {
   font-size: 6vw;
   }
   .container-ousertt {
      max-width: 100%;
   }
   .bg__building h2 {
      font-size: 5vw;
   }
}
/* =========== @media 768px /=========== */

/* ============ @media 690 ============ */
@media (max-width: 690px) {
   .top-contakt {
      padding: 5px 45px;
   }
   .top-contakt a {
      display: block;
   }
   a.clock {
      display: none;
   }
   .navbar {
      min-height: 60px;
   }
   .navbar-brand p {
      margin: 0;
  }
  .top-contakt__left a {
   margin: 0;
   }
   .bg {
      min-height: 500px;
   }
   .baner-text {
      margin: 60px auto 0;
   }
   .baner-xl {
      font-size: 20px;
      line-height: 180%;
   }
   .banerpp {
      font-size: 16px;
      line-height: 22px;
   }
   .btn-sv {
      width: 140px;
      height: 35px;
      font-size: 14px;
      margin: 70px 15px;
   }
   .compani {
      margin-top: 25px;
   }
   .compani-imgstroy {
      margin-left: 25%;
   }

   /* ================== строительство домов =================== */

   .bg__building {
      background: url(../img/house-building/home001.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 80% 0px;
      min-height: 100vh;
   }
   .building__image h2 {
      margin: 15px 0px;
      font-size: 22px;
   }
   .building__image p {
      margin: 18px 0px 30px;
  }

}
/* ============ @media 690 ============ */

/* =========== @media 620px =========== */
@media (max-width: 620px) {
   .ouser__item {
      margin: 0 15px 30px;
      width: 100%;
      text-align: center;
   }
   .ouser__item h4 {
      font-size: 20px;
      margin: 25px auto 15px;
      min-height: 1px;
   }
   .ouser__item p {
      min-height: 100px;
      margin-bottom: 25px;
   }
   .footer__row {
      padding-top: 50px;
   }
}
/* =========== @media 620px /=========== */

/* ============ @media 530 ============ */
@media (max-width: 530px) {
   .why__are h2 {
      font-size: 6vw;
      margin-top: 50px;
   }
   .why__are p {
      padding: 0;
   }
   .footer__one, .footer__too, .footer__three, .footer__four {
      margin: 0px 0 50px 0;
   }
   .footer__one h4 {
      padding-bottom: 15px;
   }
   .footer__one h5 {
      padding: 0px 0 20px 0;
   }
   .footer__too h5 {
      padding: 0px 0 20px 0;
   }
   .footer__three h5 {
      padding: 0px 0 20px 0;
   }
   .footer__four h5 {
      padding: 0px 0 20px 0;
   }
   .footer__four {
      margin: 0px 0 20px 0;
   }
   .remont__ul {
      padding-left: 5px;
   }
   .remont__ul-li {
      padding-left: 5px;
   }
   .remont__tooq-row {
      margin: 0px 0 30px;
   }
   .santeh__cont h2 {
      font-size: 6vw;
   }
}
/* ============ @media 530 /============ */

/* ============ @media 450 ============ */
@media (max-width: 450px) {
   .navbar {
      padding: 11px 15px;
   }
   .navbar-brand {
      padding-left: 0;
   }
   .navbar-toggler {
      padding: .25rem 0;
   }
   .top-contakt {
      padding: 5px 15px;
   }
  .compani h2 {
   font-size: 6vw;
   }
   .compani p {
      margin: 15px auto 30px;
   }
   .cont__otprav {
      padding: 30px 0 35px;
   }
   .if {
      margin-bottom: 7px;
   }
   .remont__card-title {
      font-size: 6vw;
   }
   .remont__tooq-row {
      margin: 0 0 30px;
   }
   .remont__tooq-row h2 {
      margin: 20px 0;
   }
   .remont__title-kv {
      font-size: 9vw;
   }
   .remont__title-home {
      font-size: 7vw;
   }
   .santeh__cart-item h5 {
      padding: 7px 0 0px;
      margin: 0;
   }
   .santeh__cart {
      gap: 13px;
      justify-content: center;
      margin-bottom: 60px;
   }
   .santeh__cart-item {
      max-width: 47%;
      background: #ffcb0f;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
   .santeh__cart-item img {
      padding: 20px 30px;
   }
   .santeh__cart-item h5 {
      padding: 0px 9px 9px;
      font-size: 4vw;
   }
   .electro h2 {
      margin: 30px 0;
   }
   .electro__block-image {
      height: 250px;
      margin: 0;
   }
   .electro__block-item {
      margin: 12px 0 0;
   }
   .electro__block-text h2 {
      margin: 0;
   }
   .electro__block-text p {
      padding: 10px 0;
   }
}
/* ============ @media 450 /============ */

/* ===================== @media 390 ===================== */
/* ===================== @media 390 ===================== */
/* ===================== @media 390 ===================== */

@media (max-width : 390px) {
   a.clock {
      display: none;
   }
   .top-contakt__left a {
      margin: 0;
   }
   .top-contakt__right {
      display: none;
   }
   .navbar-brand p {
      margin: 0;
   }
   .navbar {
      min-height: 60px;
   }
   .navbar-brand p {
      padding: 0;
   }
   .baner-text {
      font-size: 16px;
   }
   .banerpp {
      line-height: 18px;
      margin-top: 8px;
      font-size: 14px;
   }
   .baner-xl {
      line-height: 160%;
   }
   .btn-sv {
      width: 130px;
      height: 35px;
      font-size: 14px;
      margin: 30px 8px 70px;
   }
   .compani {
      margin-top: 25px;
   }
   .compani h4 {
      font-size: 5vw;
   }
   .compani-imgstroy {
      margin-left: 10%;
   }
   .roundbl {
      display: flex;
      flex-wrap: wrap;
   }
   .if, .touch {
      font-size: 6vw;
   } 
   .footer__row {
      padding-top: 40px;
   }

   .bg__building {
      background: url(../img/house-building/home001.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
   }
   .bg__building h2 {
      font-size: 30px;
      text-align: center;
      line-height: 40px;
   }
   .buildingaaa {
      font-size: 25px;
   }
   .remont__tooq-row {
      margin: 0 0 20px;
   }
   .electro__block-text h2 {
      font-size: 8vw;
   }
}



/* ===================== @media 0 ===================== */
@media (max-width: 0px) {

}
/* ===================== @media 0 /===================== */